<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>パスワード変更 | MyBootApp</title>
</head>
<body>
<h1>パスワード変更</h1>
  <ul th:if="${msgs}">
    <li th:each="msg:${msgs}" th:text="${msg}"></li>
  </ul>
<form method="post">
  <table>
    <tr>
      <td>現在のパスワード</td>
      <td><input type="password" name="old-password" /></td>
    </tr>
    <tr>
      <td>新しいパスワード</td>
      <td><input type="password" name="new-password" /></td>
    </tr>
    <tr>
      <td>新しいパスワード（確認）</td>
      <td><input type="password" name="new-password-confirm" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="変更" /></td>
    </tr>
  </table>
</form>
</body>
</html>