<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>ユーザー登録 | MyBootApp</title>
</head>
<body>
  <h1><a href="/">MyBootApp</a></h1>
  <h2>ユーザー登録</h2>
  <ul th:if="${msgs}">
    <li th:each="msg:${msgs}" th:text="${msg}"></li>
  </ul>
  <form action="/users/signup" method="post">
    <table>
      <tr>
        <td><label for="username">ユーザー名:</label></td>
        <td><input type="text" name="username" placeholder="4~15文字の半角英数字" /></td>
      </tr>
      <tr>
        <td><label for="password">パスワード:</label></td>
        <td><input type="password" name="password" placeholder="4文字以上の半角英数字" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="登録" /></td>
      </tr>
    </table>
  </form>
  <a href="/users/signin">ログイン</a>
</body>
</html>